    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Modeling Better Decisions</h2>
              <br/>
                <p>Quality decisions need to be made without a full analysis and include uncertainty. 
				Patterns exist.  Comparing a new problem to an existing model can help elude analysis paralysis. A 2010 study by 
				<a href="https://doist.com/blog/analysis-paralysis-and-your-productivity/ https://www.lexisnexis.com/en-us/about-us/media/press-release.page?id=128751276114739">LexisNexis</a> showed, “on average, employees spend more than half their workdays receiving and managing information rather than using it to do their jobs!”. Recognizing what models we may be using to validate our gut instincts may help us find more models to expand our capabilities.</p>
                <br/>
              </div>
        </div>
		<div class="container ">

<!--
							<h2>Our team</h2>


							<p class="subtext">We've built an amazing team of developers, marketers, designers and sales people.</p>
-->
						
			<ul class="staff">

					<li>
						<div class="square-image"><img src="https://s3-us-west-1.amazonaws.com/co-directory-images/dustinthostenson.jpg
			" alt="Dustin Thostenson"/></div>
						<div class="name"><a target="_blank" href="https://twitter.com/dustinson">Dustin Thostenson</a></div>
						<div class="position">Agile Coach</div>
						<div class="blurb">Dustin Thostenson is an independent consultant, leading Delta3Consulting. He has been a developer, mentor, trainer and agile coach for almost 2 decades. His passion lies in helping people grow and teams deliver. To keep it interesting he helps lead the Iowa .NET User Group and volunteers in Central Iowa. To keep it real he spends time with his wife and 4 kids.</div>
					</li>

					<li>
						<div class="square-image"><img src="/img/skylar.jpg" alt="Skylar Watson"/></div>
						<div class="name"><a target="_blank" href="https://twitter.com/SkylarRWatson">Skylar Watson</a></div>
						<div class="position">Agile Coach</div>
						<div class="blurb">Skylar Watson is a software consultant and agile coach who implements high-value software to satisfy customers needs. Skylar works with companies both domestically and internationally assisting in adopting agile software practices. As a coach, Skylar works with both leadership and developers to assure the organization that their business outcomes are driving the transformation.</div>
					</li>

			</ul>

			</div>
			<hr>
			<h2>Upcoming Events</h2>
			</br></br>
			<p>You can find us at the events posted below. If you're interested in scheduling a workshop, training, or would like to have us present at your event, please let us know:
			
			modelingbetterdecisions@gmail.com
				
			</p>
			</br>
		</div>
    </section>
