                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    {% if post.aka != null %}
                    <h4 class="section-heading-sub">(aka {{ post.aka }})</h4>
                    {% endif %}
                    <div class="lead">{{ post.content }}</div>


                    {% if post.reference != null %}
                    <div class="lead">Reference: <br>{{ post.reference }}</div>
                    {% endif %}
                    
                    {% if post.link != null %}
                    <div class=""><a target="_blank" href="{{ post.link }}" >{{ post.link }}</a></div>
                    {% endif %}
                    {% if post.link2 != null %}
                    <div class=""><a target="_blank" href="{{ post.link2 }}" >{{ post.link2 }}</a></div>
                    {% endif %}
                    {% if post.link4 != null %}
                    <div class=""><a target="_blank" href="{{ post.link3 }}" >{{ post.link3 }}</a></div>
                    {% endif %}