<!--moar-->
<!--{% for post in site.posts %}-->
<!--asdf-->
<!--<section id="services">-->
<!--    &lt;!&ndash; Page Content &ndash;&gt;-->
<!--&lt;!&ndash;    {% for post in site.posts %}&ndash;&gt;-->
<!--&lt;!&ndash;    post.title moar&ndash;&gt;-->
<!--        <div class="content-section-a">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-5 col-sm-6">-->
<!--                        <hr class="section-heading-spacer">-->
<!--                        <div class="clearfix"></div>-->
<!--                        <h2 class="section-heading">{{ post.title }}</h2>-->
<!--                        <div class="lead">{{ post.content }}</div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">-->
<!--                        <img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--    -->
<!--            </div>-->
<!--            &lt;!&ndash; /.container &ndash;&gt;-->
<!--    -->
<!--        </div>-->
<!--        &lt;!&ndash; /.content-section-a &ndash;&gt;-->
<!--        &lt;!&ndash; /.content-section-b &ndash;&gt;-->
<!--&lt;!&ndash;    {% endfor %}&ndash;&gt;-->
<!--    </section>-->

<!--{% endfor %}-->
<!-- -->    