hello world

<section id="moar">
    in sectionid moar
    <!-- Page Content -->
    {% for post in site.more reversed %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
    1
        <div class="content-section-a">
            <div class="container">
    asdfasdf
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        section-heading
                        <h2 class="section-heading">posttitle {{ post.title }}</h2>
                        lead
                        <div class="lead">{{ post.content }}</div>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                    </div>
                </div>
    
            </div>
            <!-- /.container -->
    
        </div>
        <!-- /.content-section-a -->
        {% else %}
    
        <div class="content-section-b">
    
            <div class="container">
    
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>

                        <h2 class="section-heading">sec heading {{ post.title }}</h2>
                        <div class="lead">{{ post.content }}</div>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                      <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                    </div>
                </div>
    
            </div>
            <!-- /.container -->
    
        </div>
        <!-- /.content-section-b -->
        {% endif %}
    {% endfor %}
    </section>
    
